* {
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.container {
  padding: 56px;
}

.container h1 {
  font-weight: normal;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  grid-column-gap: 8px;
  grid-row-gap: 56px;
}

.card {
  width: 100%;
  height: 200px;
  border-radius: 4px;
  overflow: hidden;
  transform: scale(1);
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0);
  transition: all 0.25s ease;
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
  .cards {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .cards {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
